<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/basic.css'/>
</head>
<body>
<div class="topLink">
    <div class="topLink_img">
        <img src="/images/company.png"/></div>
</div>

<div class="header">
    <div class="header_content">
        <div class="header_content_desc">
            <a>
                <img src="/images/logo.png" alt="logo">
            </a>

            <div class="header_content_desc_name"><%= title %></div>
        </div>
    </div>
</div>
