<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/basic.css'/>
</head>
<body>
<div class="topLink">
    <div class="topLink_content">
        <img src="/images/company.png"/>
        <% if(user){ %>
        <div class="top_userName">Welcome, <%= user.userName %></div>
        <% } %>

        <!--<div class="user_operation">-->
        <!--<a href="/login">登陆</a>-->
        <!--/-->
        <!--<a>注册</a>-->
        <!--</div>-->
        <!--<div class="top_message">您未登录！</div>-->
        <div class="top_navigation">
            <a>今天已点</a>
            <a>历史购买</a>
            <a>猜您喜欢</a>
        </div>
    </div>

</div>

<div class="header">
    <div class="header_content">
        <div class="header_content_desc">
            <a>
                <img src="/images/logo.png" alt="logo">
            </a>

            <div class="header_content_desc_name"><%= title %></div>
        </div>
    </div>
</div>
