.message {
    width: 290px;
    min-height: 50px;
    position: fixed;
    bottom: -100%;
    right: 100px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-top-width: 3px;
    border-top-style: solid;
    padding: 10px;
    line-height: 40px;
}

.message .total {
    font-weight: 900;
}

.menu_message {
    width: 290px;
    height: 38px;
    border-bottom: 1px dashed #e5e9ec;
    overflow: hidden;
}

.menu_message_name {
    width: 140px;
    height: 38px;
    float: left;
    padding-left: 20px;
}

.menu_message_total {
    width: 50px;
    height: 38px;
    float: left;
}

.menu_message_price {
    width: 40px;
    height: 38px;
    float: left;
}

.menu_message_delete{
    width: 40px;
    height: 38px;
    float: right;
    cursor: pointer;
    color: red;
    text-align: center;
}

.error_message_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.error_message_content {
    padding: 20px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 40%;
    background: white;
    z-index: 15;
    color: black;
}

.error{
    display: none;
}